*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: #ecf4fb;
}
.greet{
    margin-top: 120px;
    text-align: center;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color:#1c79c5 ;
    
}
.img-gallery {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px)); */
    grid-gap: 25px;
    grid: 270px 270px / repeat(auto-fit, 250px);
    align-items: center;
}

.img-gallery img{
    width:100%  ;
    cursor: pointer;
}
.img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
    transition: 0.5s;
}
.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed ;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.full-img img{
    width: 90%;
    max-width: 500px;
     
}
.full-img span{
     position: absolute;
     top: 10%;
     right: 5%;
     font-size: 20px;
     color: #fff;
     cursor: pointer;
}

@media(max-width:991px){
    .greet{
        font-size: 25px;
    }
}
@media(max-width:658px){
    .img-gallery{
        grid: 270px 270px / repeat(auto-fit, 193px);
        margin: auto;
        grid: 270px 270px / repeat(auto-fit, minmax(193,lfr));
    }
}
@media(max-width:513px){
    .img-gallery img{
        width: 193px;

        
    }
}
