

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
} */



.total{
    background:#182357 ;
    margin: 0 25px;
}
.total a{
    display: inline-block;
    margin: 15px;
    padding: 8px 15px;
    background: #fff;
    color: #0c002b; 
    text-decoration: none;
    font-weight: 600
}
.total a:hover{
    color: #255784;
    background:#2196f3 ;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
}
.total p{
    color: #fff;
    padding: 20px;
    font-size: 16px;
}
.total p span{
    font-weight: bold;
    letter-spacing: 2px;
}
.planet{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}
.planet h2{
    color: #fff;
    margin-bottom: 20px;
    font-size: 40px;
}
.planet-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-reflect: below 1px linear-gradient(#0001,#0002);
}
.planet-earth{
    position: relative;
    min-width: 50%;
    height: 75vh;
    justify-content: center;
    align-items: center;
    background: #182357;
}
.planet-earth .loader{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    animation:animate 4s linear infinite ;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.planet-earth .loader:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(0,255,249,0.4));
    border-top-left-radius: 200px;
    border-bottom-left-radius:200px;
    background-size: 200px 360px;
    background-repeat: no-repeat;
}
.planet-earth .loader:after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #00fff9;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px #00fff9,
                0 0 20px #00fff9,
                0 0 30px #00fff9,
                0 0 40px #00fff9,
                0 0 50px #00fff9,
                0 0 60px #00fff9,
                0 0 70px #00fff9,
                0 0 80px #00fff9,
                0 0 90px #00fff9,
                0 0 100px #00fff9; 
     
}
.planet-earth .loader span{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #182357;
    border-radius: 50%;
}
.earth{
    position: absolute;
    width: 200px;
    height: 200px;
    background:url('../img/earth.jpg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 20px #03a9f4 ,
                      0 0 120px #03a9f4;
    animation: animateEarth 20s linear infinite ;
}
@keyframes animateEarth{

    0%{
        background-position:0 ;
    }
    100%{
        background-position: 162.5%;
    }
}


.planet-uranus,
.planet-neptune,
.planet-saturn,
.planet-venus,
.planet-mercury,
.planet-jupiter,
.planet-mars{
    position: relative;
    min-width: 50%;
    height: 75vh;
    justify-content: center;
    align-items: center;
    background: #182357;
}
.planet-uranus .loader,
.planet-neptune .loader,
.planet-mars .loader,
.planet-mercury .loader,
.planet-saturn .loader,
.planet-venus .loader,
.planet-jupiter .loader{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    animation:animate 4s linear infinite ;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.planet-uranus .loader:before,
.planet-neptune .loader:before,
.planet-jupiter .loader:before,
.planet-mars .loader:before,
.planet-mercury .loader:before,
.planet-saturn .loader:before,
.planet-venus .loader:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(0,255,249,0.4));
    border-top-left-radius: 200px;
    border-bottom-left-radius:200px;
    background-size: 200px 360px;
    background-repeat: no-repeat;
}
.planet-uranus .loader span,
.planet-neptune .loader span,
.planet-venus .loader span,
.planet-saturn .loader span,
.planet-mercury .loader span,
.planet-mars .loader span,
.planet-jupiter .loader span{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #182357;
    border-radius: 50%;
}

/* venus style -----------------------------------*/
/* .planet-venus{
    position: relative;
    min-width: 50%;
    height: 75vh;
    justify-content: center;
    align-items: center;
    background: #182357;
}
.planet-venus .loader{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    animation:animate 4s linear infinite ;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.planet-venus .loader:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(0,255,249,0.4));
    border-top-left-radius: 200px;
    border-bottom-left-radius:200px;
    background-size: 200px 360px;
    background-repeat: no-repeat;
} */
.planet-venus .loader:after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #d6b871;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px #EBCB81,
                0 0 20px #EBCB81,
                0 0 30px #EBCB81,
                0 0 40px #EBCB81,
                0 0 50px #EBCB81,
                0 0 60px #EBCB81,
                0 0 70px #EBCB81,
                0 0 80px #EBCB81,
                0 0 90px #EBCB81,
                0 0 100px #EBCB81; 
     
}
/* .planet-venus .loader span{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #182357;
    border-radius: 50%;
} */
.venus{
    position: absolute;
    width: 200px;
    height: 200px;
    background:url('../img/venus.jpg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 20px #03a9f4 ,
                      0 0 120px #03a9f4;
    animation: animateVenus 20s linear infinite ;
}
@keyframes animateVenus{

    0%{
        background-position:0 ;
    }
    100%{
        background-position: -340px;
    }
}



/* mercury style -----------------------------------*/
/* .planet-mercury{
    position: relative;
    min-width: 50%;
    height: 75vh;
    justify-content: center;
    align-items: center;
    background: #182357;
}
.planet-mercury .loader{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    animation:animate 4s linear infinite ;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.planet-mercury .loader:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(0,255,249,0.4));
    border-top-left-radius: 200px;
    border-bottom-left-radius:200px;
    background-size: 200px 360px;
    background-repeat: no-repeat;
} */
.planet-mercury .loader:after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #6b6464;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px #8F8F8F,
                0 0 20px #8F8F8F,
                0 0 30px #8F8F8F,
                0 0 40px #8F8F8F,
                0 0 50px #8F8F8F,
                0 0 60px #8F8F8F,
                0 0 70px #8F8F8F,
                0 0 80px #8F8F8F,
                0 0 90px #8F8F8F,
                0 0 100px #8F8F8F; 
     
}
/* .planet-mercury .loader span{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #182357;
    border-radius: 50%;
} */
.mercury{
    position: absolute;
    width: 200px;
    height: 200px;
    background:url('../img/mercury.jpeg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 20px #03a9f4 ,
                      0 0 120px #03a9f4;
    animation: animateMercury 20s linear infinite ;
}
@keyframes animateMercury{

    0%{
        background-position:0 ;
    }
    100%{
        background-position: -340px;
    }
}

/* mars style -----------------------------------*/
/* .planet-mars{
    position: relative;
    min-width: 50%;
    height: 75vh;
    justify-content: center;
    align-items: center;
    background: #182357;
}
.planet-mars .loader{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    animation:animate 4s linear infinite ;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.planet-mars .loader:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(0,255,249,0.4));
    border-top-left-radius: 200px;
    border-bottom-left-radius:200px;
    background-size: 200px 360px;
    background-repeat: no-repeat;
} */
.planet-mars .loader:after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #DC795F;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px #f38a6a,
                0 0 20px #f38a6a,
                0 0 30px #f38a6a,
                0 0 40px #f38a6a,
                0 0 50px #f38a6a,
                0 0 60px #f38a6a,
                0 0 70px #f38a6a,
                0 0 80px #f38a6a,
                0 0 90px #f38a6a,
                0 0 100px #f38a6a; 
     
}
/* .planet-mars .loader span{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #182357;
    border-radius: 50%;
} */
.mars{
    position: absolute;
    width: 200px;
    height: 200px;
    background:url('../img/mars.jpg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 20px #03a9f4 ,
                      0 0 120px #03a9f4;
    animation: animateMars 20s linear infinite ;
}
@keyframes animateMars{

    0%{
        background-position:0 ;
    }
    100%{
        background-position: -340px;
    }
}


/* jupiter style -----------------------------------*/
/* .planet-jupiter{
    position: relative;
    min-width: 50%;
    height: 75vh;
    justify-content: center;
    align-items: center;
    background: #182357;
}
.planet-jupiter .loader{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    animation:animate 4s linear infinite ;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.planet-jupiter .loader:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(0,255,249,0.4));
    border-top-left-radius: 200px;
    border-bottom-left-radius:200px;
    background-size: 200px 360px;
    background-repeat: no-repeat;
} */
.planet-jupiter .loader:after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #80786f;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px #9C9489,
                0 0 20px #9C9489,
                0 0 30px #9C9489,
                0 0 40px #9C9489,
                0 0 50px #9C9489,
                0 0 60px #9C9489,
                0 0 70px #9C9489,
                0 0 80px #9C9489,
                0 0 90px #9C9489,
                0 0 100px #9C9489; 
     
}
/* .planet-jupiter .loader span{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #182357;
    border-radius: 50%;
} */
.jupiter{
    position: absolute;
    width: 200px;
    height: 200px;
    background:url('../img/jupiter.jpeg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 20px #03a9f4 ,
                      0 0 120px #03a9f4;
    animation: animateJupiter 20s linear infinite ;
}
@keyframes animateJupiter{

    0%{
        background-position:0 ;
    }
    100%{
        background-position: -340px;
    }
}


/* saturn style -----------------------------------*/
/* .planet-saturn{
    position: relative;
    min-width: 50%;
    height: 75vh;
    justify-content: center;
    align-items: center;
    background: #182357;
}
.planet-saturn .loader{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    animation:animate 4s linear infinite ;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} 
.planet-saturn .loader:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(0,255,249,0.4));
    border-top-left-radius: 200px;
    border-bottom-left-radius:200px;
    background-size: 200px 360px;
    background-repeat: no-repeat;
} */
.planet-saturn .loader:after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #9e906b;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px #B2A378,
                0 0 20px #B2A378,
                0 0 30px #B2A378,
                0 0 40px #B2A378,
                0 0 50px #B2A378,
                0 0 60px #B2A378,
                0 0 70px #B2A378,
                0 0 80px #B2A378,
                0 0 90px #B2A378,
                0 0 100px #B2A378; 
     
}
/* .planet-saturn .loader span{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #182357;
    border-radius: 50%;
} */
.saturn{
    position: absolute;
    width: 200px;
    height: 200px;
    background:url('../img/saturn.jpeg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 20px #03a9f4 ,
                      0 0 120px #03a9f4;
    animation: animateSaturn 20s linear infinite ;
}
@keyframes animateSaturn{

    0%{
        background-position:0 ;
    }
    100%{
        background-position: -340px;
    }
}


/* uranus style -----------------------------------*/

.planet-uranus .loader:after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #69B9E5;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px #69B9E5,
                0 0 20px #69B9E5,
                0 0 30px #69B9E5,
                0 0 40px #69B9E5,
                0 0 50px #69B9E5,
                0 0 60px #69B9E5,
                0 0 70px #69B9E5,
                0 0 80px #69B9E5,
                0 0 90px #69B9E5,
                0 0 100px #69B9E5; 
     
}

.uranus{
    position: absolute;
    width: 200px;
    height: 200px;
    background:url('../img/uranus.jpg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 20px #03a9f4 ,
                      0 0 120px #03a9f4;
    animation: animateUranus 20s linear infinite ;
}
@keyframes animateUranus{

    0%{
        background-position:0 ;
    }
    100%{
        background-position: -340px;
    }
}




/* neptune style -----------------------------------*/
/* .planet-neptune{
    position: relative;
    min-width: 50%;
    height: 75vh;
    justify-content: center;
    align-items: center;
    background: #182357;
} */
/* .planet-neptune .loader{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    animation:animate 4s linear infinite ;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */

.planet-neptune .loader:after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #5578cf;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px #6187E8,
                0 0 20px #6187E8,
                0 0 30px #6187E8,
                0 0 40px #6187E8,
                0 0 50px #6187E8,
                0 0 60px #6187E8,
                0 0 70px #6187E8,
                0 0 80px #6187E8,
                0 0 90px #6187E8,
                0 0 100px #6187E8; 
     
}
/* .planet-neptune .loader span{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #182357;
    border-radius: 50%;
} */
.neptune{
    position: absolute;
    width: 200px;
    height: 200px;
    background:url('../img/neptune.jpeg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 20px #03a9f4 ,
                      0 0 120px #03a9f4;
    animation: animateNeptune 20s linear infinite ;
}
@keyframes animateNeptune{

    0%{
        background-position:0 ;
    }
    100%{
        background-position: -340px;
    }
}


